body {
    background-color: #ADB5BD;
}

.container {
    width: 300px;
    height: 540px;
    border-radius: 20px;
    margin: auto;
    padding: 20px 20px;
    background-color: #FEFFFE;
    box-shadow: 2px 2px #a5a8ab;
}

.img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.text {
    font-family: sans-serif;
    color: gray;
    font-size: 14px;
}

.number {
    font-weight: bold;
}

button {
    background-color: black;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

button:hover {
    background-color: #d5d5d5;
    color: black;
    cursor: pointer;
}

.wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
}